/* Style for body and background image */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

body {
  background-image: url('https://cdn.discordapp.com/attachments/1309891025371664426/1310054016277024799/DZ.png?ex=6743d261&is=674280e1&hm=4b256520bb3e1bf7140797b826882191dc08ce9832dfdb5e22d1fe911032c844&');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Style for the button */
.join-button {
  padding: 15px 30px;
  font-size: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.join-button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
